.logout-button{
    
    background-color: transparent;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #333;
    text-decoration: none;
    width: 100%;
    margin: 0;
    text-align: left;
}